.git
.github
.venv
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
.ipynb_checkpoints

.DS_Store
__MACOSX

.env
.env.*

notebooks
data
mlruns
mlruns_clean
mlflow.db

.coverage
.coverage*
htmlcov

*.pyc
*.pyo
*.pyd

README_files
