ENVIRONMENT=development
LOG_LEVEL=INFO

DATA_RAW_PATH=data/raw/credit_card_customers.csv
DATA_PROCESSED_PATH=data/processed/credit_card_customers_processed.parquet

MODEL_DIR=models
MLFLOW_TRACKING_URI=mlruns
